@page "/foodtrucks/{foodTruckId:long}"

@using Eleven95.TruckBites.Data
@using Eleven95.TruckBites.Data.Models
@using Eleven95.TruckBites.Services.Interfaces

@inject NavigationManager NavigationManager
@inject IFoodTruckService FoodTruckService
@inject IOrderService OrderService
@inject IJSRuntime JSRuntime

@if (FoodTruck == null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@FoodTruck.DisplayName | TruckBites</PageTitle>

    <h2>@FoodTruck.DisplayName</h2>
    <p>@FoodTruck.Description</p>

    <h3>Menu</h3>
    @if (FoodTruck.MenuItems != null && FoodTruck.MenuItems.Any())
    {
        <ul>
            @foreach (var menuItem in FoodTruck.MenuItems)
            {
                <li>
                    <strong>@menuItem.Name</strong> - @menuItem.Price.ToString("C")
                    @if (menuItem.IsSoldOut)
                    {
                        <span style="color: red;"> (Sold Out)</span>
                    }
                    else
                    {
                        <button disabled="@(!RendererInfo.IsInteractive)" @onclick="@(() => OrderItem(menuItem))">Order
                            now
                        </button>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No menu items available.</p>
    }
}

@code {
    [Parameter] public long FoodTruckId { get; set; }

    [PersistentState] public FoodTruck? FoodTruck { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (FoodTruck == null)
        {
            FoodTruck = await FoodTruckService.GetFoodTruckByIdAsync(FoodTruckId);
        }

        if (FoodTruck == null)
        {
            NavigationManager.NavigateTo("/not-found");
        }
    }

    private async Task OrderItem(FoodTruckMenuItem menuItem)
    {
        var order = await OrderService.CreateOrderAsync(new CreateOrderRequest()
        {
            UserId = 0,
            FoodTruckId = menuItem.FoodTruckId,
        });

        await OrderService.AddItemToOrderAsync(new AddItemToOrderRequest()
        {
            OrderId = order.OrderId,
            FoodTruckMenuItemId = menuItem.FoodTruckMenuItemId,
            Quantity = 1
        });

        var response = await OrderService.PlaceOrderAsync(order.OrderId);

        await JSRuntime.InvokeVoidAsync("alert", "Order placed successfully!");
        NavigationManager.NavigateTo($"/account/orders/{response.OrderId}");
    }


}